$generalSize: 14;

/* color */

$active-color: #ff0000;
$main-color: #000000;
$header-color: #525151;
$light-color: #ffffff;
$grey: #cccccc;


$white: #fff;
$black: #101010;
$dark-grey: #282828;
$grey: #99958c;
$smoky-grey: #636169;

$selection-bg-color: $main-color;
$selection-text-color: $white;


/* padding */
$pad-lg: 100px;
$pad-md: 75px;
$pad-sm: 50px;
$pad-xs: 25px;

/* font */
/* title & content font */
$main-font: 'Roboto Slab', serif;

/* describe block font */
$second-font: 'Kurale', serif;

/* additional font */
$note-font: 'Scada', sans-serif;
